/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    font-family: sans-serif;
    background: rgb(157, 128, 157);
    color: #444;
    letter-spacing: 1px;
    font-weight: 400;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/* ################################### */
.header {
    padding: 3.2rem;
    text-align: center;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
     transition: opacity 0.5s ease-in-out;
    opacity: 0;
}
.card__flag-box {
    height: 25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.card__flag {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.card {
    width: 30rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
   
}

.card--neighbour{
     transform: scale(0.8);
     /* height: 35rem; */
     /* width: 25rem; */
}

.card__details {
    padding: 2.4rem;
}
.header-4 {
    color: #777;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}

.card__population {
    margin-top: 1rem;
}
.card__txt {
    display: flex;
    gap: 1.2rem;
    font-weight: 600;
    color: #777;
    line-height: 2.2rem;
}
